<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<!-- META -->
	<meta charset="utf-8">
	<meta name="author" content="Jose Andres Ayestaran">

	<title>{% block title %}GPRS{% endblock title %}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- BOOTSTRAP -->
	<link href="{{STATIC_URL}}bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="{{STATIC_URL}}bootstrap/css/bootstrap-theme.css" rel="stylesheet">

    <!-- JQUERY -->
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" type="text/css" media="screen">
</head>

<body style="padding-top: 0px;">

	<!-- MENU -->
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">GPRS</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">Tiempo Real</a></li>
                    <li class="divider-vertical"></li>
                    <li><a href="/stored/">Base de Datos</a></li>
                </ul>
            </div>
        </div>
	</nav>

	<!-- CONTENT -->
	<div class="container" style="padding-top:40px;">
		{% block content %}
		{% endblock content %}

        <!-- BOOTSTRAP -->
        <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
        <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
        <script src="{{STATIC_URL}}bootstrap/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
        {% block scripts %}
        {% endblock %}
        <!-- FOOTER -->
        <div class="row-fluid">
        </div>
	</div>
</body>
</html>