{% extends "base.html" %}
{% block content %}
    <div class="panel panel-default" style="margin-top: 40px;">
        <!-- Default panel contents -->
        <div class="panel-heading">Información GPRS guardada en la base de datos<a href="/export/" class="btn btn-success btn-xs" id="cleanTable" style="float:right;">Exportar a Excel</a></div>
        <div class="panel-body">
            <p class="text-info">Aquí se muestran todos los datos que han sido guardados en la base de datos.
                Se muestran ordenados por fecha (el primero de la lista es el último que llegó).
            </p>
        </div>

        <!-- Table -->
        <table class="table table-striped table-hover table-bordered">
            <thead>
                    <tr><th>Fecha</th><th>Hora</th><th>Dato</th></tr>
                </thead>
                <tbody>
                    {% for d in data %}
                        <tr>
                            <td>{{ d.date }}</td>
                            <td>{{ d.time }}</td>
                            <td>{{ d.gprs }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
        </table>
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}


